﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User/Site.Master" AutoEventWireup="true" CodeBehind="Custom.aspx.cs" Inherits="CustomizingTshirt.User.Custom" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">



</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <center>
     <asp:Image ID="Image1" runat="server" Height="230px" Width="200px" ImageUrl="../Image/AmericanApparel.jpg"/>&nbsp;&nbsp;&nbsp;
     <asp:LinkButton ID="lnkHalf" runat="server" onclick="lnkHalf_Click">Short Sleeve T-Shirts</asp:LinkButton>
     <br /><br />
     <asp:Image ID="Image2" runat="server" Height="230px" Width="200px" ImageUrl="../Image/GildonUltraCottonLongSleeve.jpg"/>&nbsp;&nbsp;&nbsp;
     <asp:LinkButton ID="lnlLong" runat="server" onclick="lnlLong_Click">Long Sleeve T-Shirts</asp:LinkButton>
     <br />

         
 </center>
    
    
</asp:Content>
