﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Designing.aspx.cs" Inherits="CustomizingTshirt.User.Designing" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
    .lnk
    {
        float:left;
        height:20px;
        width:50px;
    }
    .Pimage
    {
       
    }
    </style>
</head>
<body>
    <form id="form1" runat="server">
       <div>
           <asp:HyperLink ID="HyperLink1" runat="server" Text="BACK" NavigateUrl="~/User/Details.aspx" CssClass="lnk"></asp:HyperLink>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <asp:Label ID="Label1" runat="server" Text="DESIGNING T-SHIRT" Font-Bold="true" Font-Size="XX-Large" forecolor="Red" ></asp:Label>
       </div>
       <div style="height:509px; width:512px; float:right;" id="Pimage">
         <div style="margin:100px 100px 100px 100px;height:309px; width:312px"></div>
       </div>
       <div style="height:509px; width:535px; float:left;">
         
       </div>
    </form>
</body>
</html>
