﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User/Site.Master" AutoEventWireup="true" CodeBehind="Products.aspx.cs" Inherits="CustomizingTshirt.User.Products" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <asp:DataList ID="DataList1" runat="server" RepeatColumns="4" Width="1185px">
    <ItemTemplate>
       <div style="height:300px;width:250;">
           <a href='Details.aspx?id=<%#Eval("pid") %>'><asp:Image ID="Image1" runat="server" ImageUrl='<%#Eval("pimage") %>' Height="230px" Width="250px" /></a><br />
           <asp:Label ID="Label1" runat="server" Text='<%#Eval("pname") %>'></asp:Label>
       </div>
    </ItemTemplate>
    </asp:DataList>
</asp:Content>
