﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User/Site1.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="BackupProject.User.About" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<center>
    <h2>
        ABOUT US:
    </h2>
    <p><b>
       Custom design has been started from 2012.There are different customers from US,UK and Canada <br />
       who are willing to buy T-Shirts from this website and design the T-Shirt according to their  <br />
       need.This website help the customer to design the T-Shirt.<br />
       There are various product of T-Shirts,various type of T-Shirts and readymade design are
       available to apply in the T-Shirt.<br /><br /></b>



      
        
    </p>
    </center>
</asp:Content>
