﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User/Site1.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="BackupProject.User.Contact" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<center> <h2>
    CONTACT US:<br />
  </h2>
  <h3><b>
     9892613095<br />
     8689894464
     </b>
  </h3>
 <p><b>
    EMAIL:<u> <span class="email">customdesign@gmail.com</span></u><br />
 
     ADDRESS: Shop no:04,Behind Grand Hotel,Andheri west,Mumbai-400089<br />
    </b> </p>
  </center>
</asp:Content>
