﻿<%@ Page Title="" Language="C#" MasterPageFile="~/User/Site1.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="BackupProject.User.Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<h1 style="font-size:40px"><b>
    Welcome to the World of Designing!!! 
       </b>
    </h1>
    <h5 style="font-size:20px"><b>
        You can design T-shirt by clicking<br /> <br />
        <asp:Button ID="Button1" runat="server" Text="GET STARTED" Font-Bold="False" 
            ForeColor="Snow" Height="42px" Width="186px" BackColor="Navy" 
            BorderColor="Blue" Font-Size="1.2em" PostBackUrl="~/" 
            Font-Italic="True" /></b>
     </h5>
     <br />
     <br />
    <div>
        <img src="../Images/PicsArt_12-04-04.55.37.jpg" alt="Shirt" 
            style="width: 1114px; height: 490px;"/>
        
            <br />
            <br />
    </div>
</asp:Content>
