﻿body 
{
    border-style: solid;
    border-color: inherit;
    border-width: 3px;
    margin: 20px auto 20px auto;
    height:1851px;
    padding:20 20 20 20;
    width: 1179px;
}
#wrapper
{
    
    
    width : 1128px;
    background-color: #fff;
    margin: 20px 10px 20px 10px;
    height:742px;
    
}
#banner
{
   margin: 20px 10px 20px 10px;
    padding: 0px 0px 0px 20px; 
    border-bottom-style:solid;
}

div.menu
{
    padding: 20px 0px 20px 8px;
   
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    height:100%;
   
    
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color:Gray;
    
    border: 1px #4e667d solid;
    color:White;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color:#111;
    color:White;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color:green;
    color:white;
    text-decoration: none;
}
#navigation
{
    height:200px;
    width:161px;
    float:left;
    margin: 20px 10px 20px 10px;
    margin-left:20px;
    margin-right:10px;
    margin-top:10px;
    border:2px solid black;
  
   
 
}
    

#content
{
  float:right;
  height:200px;
  width:830px;
   margin-left:10px;
    margin-right:20px;
    margin-top:10px; 
}
    
   
