﻿body {
}
#menu
{
    list-style:none;
    
}
#menu ul li
{
    background-color:Gray;
    border:solid 1px black;
    width:125px;
    height:35px;
    text-align:center;
    float:left;
    line-height:35px;
    position:relative;
    
   
}
#menu ul li a
{
    text-decoration:none;
    display:block;
    color:White;
}
#menu ul li a:hover
{
    background-color:Purple;
    color:White;
    
}
#wrapper
{
    border-style: solid;
    border-color: inherit;
    border-width: 3px;
    width : 1200px;
    background-color: #fff;
    margin: 20px auto 20px auto;
    height: 1304px;
}
 #banner
{
    background-image:url("http://localhost:24057/BackupProject/Images/Banner.jpg");
    border-style: none;
    border-color: inherit;
    text-align: left;
    line-height: normal;
    font-weight: 700;
    margin: 20px 10px 20px 10px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    width: 1150px;
    height:150px;
    color: #4e5766;
}
#footer
{
    clear:both;
    color:black;
    padding: 8px 0px 0px 0px;
    margin: 20px 10px 20px 10px;
    text-align: center;
    line-height: normal;
    height:70px;
}
