﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
   
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    
    
    
}
#top
{
    margin: 10px 10px 10px 10px;
    width: 1150px; 
     margin: 20px 10px 20px 10px;
    padding: 0px 0px 0px 20px;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
#top
{
   width: 1151px;
    height: 142px;
}
#wrapper
{
   border-style: solid;
    border-color: inherit;
    border-width: 3px;
    width : 1200px;
    background-color: #fff;
    margin: 20px auto 20px auto;
    
}



 #banner
{
    background-image:url(../Images/Resized-LHICH.jpg);
    border-style: none;
    border-color: inherit;
    text-align: left;
    line-height: normal;
    font-weight: 700;
    margin: 20px 10px 20px 10px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    line-height: 2em;
    font-size: 2em;
    width: 1150px;
    height:150px;
    color: #4e5766;
}

#content_area
{
    padding: 0px 12px;
    margin: 20px 10px 20px 10px;
    border:3px solid #E3E3E3;
    height: 898px;
}


.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

#footer
{
    clear:both;
    color:black;
    padding: 8px 0px 0px 0px;
    margin: 20px 10px 20px 10px;
    text-align: center;
    line-height: normal;
    height:70px;
    border:solid 1px grey;
    background-color:Gray;
    color:Black;
   
}


/* TAB MENU   
----------------------------------------------------------*/




