﻿body {
}

#menu ul
{
    list-style:none;
    height: 37px;
}
#menu ul li
{
    background-color:Blue;
    border:solid 1px white;
    width:120px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:left;
    position:relative;
    border-radius:10px;
}
#menu ul li a
{
    text-decoration:none;
    color:#fff;
    display:block;
    
}
#menu ul li a:hover
{
    background-color:Black;
    color:White;
    border-radius:10px;
}
#menu ul ul 
{
    position:absolute;
    display:none;
}
#menu ul li > ul li
{
    background-color:Green;
    color:black;
    border:solid 1px white;
    border-radius:10px;
}
#menu ul li:hover > ul
{
    display:block;
    border-radius:10px;
}